/********** Base styles **********/
* {
    box-sizing: border-box;
  }

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;  
  }
h1 {
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 175%;
    text-align: center;
  }


  
section {
    position: relative;
    height: 170px;
    width: 95%;
    margin: 10px;
    border: 1px solid black;
    overflow: auto;
    background-color: rgb(226, 226, 226);
    padding-top: 32px;

}
 
#menuItem {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  width: 100px;
  background-color: gray;
  border: 1px solid black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
}

p {
  clear: both;
  
}


/* Simple Responsive Framework. */

.row {
    width: 100%;
  }
  
/********** Large devices only **********/
@media (min-width: 1200px) {

    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
/********** Medium devices only **********/

@media (min-width: 992px) and (max-width: 1199px) {
    
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;

    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
}

/********** Small devices only **********/

@media (max-width: 991px) {
    
    .col-min-1, .col-min-2, .col-min-3, .col-min-4, .col-min-5, .col-min-6, .col-min-7, .col-min-8, .col-min-9, .col-min-10, .col-min-11, .col-min-12 {
      float: left;

    }
    .col-min-1 {
      width: 8.33%;
    }
    .col-min-2 {
      width: 16.66%;
    }
    .col-min-3 {
      width: 25%;
    }
    .col-min-4 {
      width: 33.33%;
    }
    .col-min-5 {
      width: 41.66%;
    }
    .col-min-6 {
      width: 50%;
    }
    .col-min-7 {
      width: 58.33%;
    }
    .col-min-8 {
      width: 66.66%;
    }
    .col-min-9 {
      width: 74.99%;
    }
    .col-min-10 {
      width: 83.33%;
    }
    .col-min-11 {
      width: 91.66%;
    }
    .col-min-12 {
      width: 100%;
    }
}
